$blue-dark: rgba(52, 62, 137, 1);
$black-light: rgba(0, 0, 0, 0.7);
$white-meddium: rgba(248, 248, 248, 1);
$orange: rgba(246, 90, 57, 1);
$grey-light: rgba(240, 240, 240, 1);
$grey-dark: rgba(120, 120, 120, 1);
$green-light: rgba(74, 211, 147, 1)