@import 'colors';

@mixin linear-gradient($position, $primary, $secondary) {
  background-color: $primary;
  background-image: linear-gradient($position, $secondary, transparent);
}

@mixin flex-position($direction, $align, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $align;
  flex-wrap: $wrap;
}

body {
  @include linear-gradient(to bottom, $blue-dark, $black-light);
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  height: 100%;
}

.content__flexcontainer {
  width: 100%;
  padding-top: 70px;
  height: 100vh;
  @include flex-position(row, space-around, wrap);
}

.flexcontainer--right {
  width: 50%;
  @include flex-position(row, center, wrap);
}

.flexcontainer--left {
  width: 50%;
  @include flex-position(row, center, wrap);
}

.flexcontainer--right__comments {
  width: 80%;
}

.flexcontainer--left__simulator {
  width: 72%;
  height: 24rem;
  padding: 10px;
  background-color: $white-meddium;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}


